<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to image_tag('logo', height: 40), :root %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Create a new cocktail ðŸ¸ðŸš€', new_cocktail_path %>
  </div>
</div>
